<template>
    <div class="container clearfix">

    <div class="chat">
        <h3> Create Group </h3>
      <div class="chat-message clearfix">
         <form @submit.prevent="createGroup">
           <input name="message-to-send" v-model="group" placeholder ="Enter group name" ></input>
           <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
           <i class="fa fa-file-image-o"></i>
            <button>Send</button>
         </form>
      </div> <!-- end chat-message -->
    </div> <!-- end chat -->

  </div> <!-- end container -->

</template>
<script>
    export default {
        data() {
            return {
                group : ''
            }
        },
        mounted() {

        },
        methods: {
            async createGroup() {
                const {data} = await axios.post('/createChannel', {
                    name: this.group,
               })
               this.$router.go('/group');
            }
        }
    }
</script>
